<div  ng-controller="editProfileViewCtrl as $ctrl">
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="dati.error">{{ dati.error }}</div>
<div id="editProfile">
    <form role="form" ng-submit="salvamodifiche()">
        <h2> Modifica il tuo profilo</h2>
        <div>
        <button>Carica immagine</button>
            <file-upload on-change="$ctrl.onChange">
            </file-upload>
        </div>
        <div class="form-group">
            <label for="nuovoName">Nome</label>
            <input type="text" class="form-control" id="nuovoName" placeholder="Inserisci il nome" name="name" ng-model="user.name" />
        </div>
        <div class="form-group">
            <label for="nuovoSurname">Cognome</label>
            <input type="text" class="form-control" id="nuovoSurname" placeholder="Inserisci il cognome" name="surname" ng-model="user.surname" />
        </div>
        <div class="form-group">
            <label for="nuovaDatadiNascita">Data di Nascita</label>
            <input type="date" class="form-control" id="nuovaDatadiNascita" placeholder="Inserisci Data di Nascita" name="DatadiNascita" ng-model="user.DatadiNascita" />
        </div>

        <div class="form-group">
            <label for="txtPass">Password</label>
            <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" ng-model="user.password" />
        </div>
        <div class="form-group">
            <label for="txtPass">Nuova Password</label>
            <input type="password" class="form-control" id="nuovaPass" placeholder="Password" name="password" ng-model="user.nuovapassword" />
        </div>
        <div class="form-group">
            <label for="nuovaPass2">Conferma Nuova Password</label>
            <input type="password" class="form-control" id="nuovaPass2" placeholder="Conferma password" name="password2" ng-model="user.nuovapassword2" />
        </div>
        <div class="form-group">
            <label>Sei buddista?</label>
            <input type="radio" name="type" value="Sì"  class="form-check-input" placeholder="type" ng-model="user.nuovotype"/>Sì
            <input type="radio" name="type" value="No"  class="form-check-input" placeholder="type" ng-model="user.nuovotype"/>No
        </div>
        <div class="form-group">
            <label>Vuoi fare da tutor?</label>
            <input type="radio" name="tutor" value="Sì"  class="form-check-input" placeholder="sex" ng-model="user.tutor"/>Sì
            <input type="radio" name="tutor" value="No"  class="form-check-input" placeholder="sex" ng-model="user.tutor"/>No
        </div>
        <button type="submit" class="btn btn-success center-block">Modifica</button>
        <button type="reset" class="btn center-block"><a href="#!userProfileView">Annulla</a> </button>
        <br>


    </form>
</div>
</div>