<link rel="stylesheet" href="../styles/custom.css"/>
<h3><b>Prega</b></h3>
<!--<div id="prega1">
    <!--<div class="row">
        <div class="col-xs-12">

            <div class="page-header1">
                <img src="../images/iconaprega.png" id="userIcon">

            </div>
            <div class="clear1"></div>
            <div id="prega-bar">
                 </div>
        </div>
    </div>

</div>
-->
<!--<div id="profilo2">
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>

</div>--
<!--cronometro -->
<div id="contenitore">
    {{cronometro()}}
        <div class="orologio" id="Ore"> 00  </div>
        <div class="orologio" id="Minuti"> : 00 </div>
        <div class="orologio" id="Secondi"> : 00 </div>
        <div class="orologio" id="Centesimi"> : 00 </div>
        <input type="button" class ="bottone" id="Iniziare" value="Inizia &#9658;"ng-click="start()">
        <input type="button" class="bottone" id="Fermarsi" value="Interrompi &#8718;" ng-click="stop()" disabled>
        <input type="button" class="bottone" id="Continuare" value="Riprendi &#8634;" ng-click="start()" disabled>
        <input type="button" class="bottone" id="Ripartire" value="Reset &#8635;" ng-click="reset()" disabled>
    </div>
