<link rel="stylesheet" href="../styles/custom.css"/>
<h3><b>Prega</b></h3>
<div id="immaginegong">
<img src="../images/imggong.png">
</div>

<!--cronometro -->
<div id="contenitore" ng-click>
        <div class="orologio" id="Ore"> 00  </div>
        <div class="orologio" id="Minuti"> : 00 </div>
        <div class="orologio" id="Secondi"> : 00 </div>
        <div class="orologio" id="Centesimi"> : 00 </div>
        <audio id="sound1"  ></audio>

    <input   type="button"  class ="bottone"   id="Iniziare" value="Inizia &#9658;" ng-click="start();Play(sound1)">
      <input type="button" class="bottone" id="Fermarsi" value="Interrompi &#8718;" ng-click="stop()" disabled>
       <input type="button" class="bottone" id="Continuare" value="Riprendi &#8634;" ng-click="start(sound1)" disabled>
       <input type="button" class="bottone" id="Ripartire" value="Reset &#8635;" ng-click="reset()" disabled>
   </div>
<!--</audio>-->
<div class="salva-visualizza-pubblica" id="salva-visualizza-pubblica">
        <a href="#!editcalendarView" ><img src="../images/iconacalendarioaggiungi.png" id="salva">Salva sul calendario</a><br>
        <a href="#!editcalendarView" ><img src="../images/iconacalendariostorico.png"id="visualizza">Visualizza lo storico delle tue preghiere</a><br>
        <a href="#!homeView" ><img src="../images/iconapubblicabianca.png" id="pubblica"> Pubblica</a>
</div>
