<link rel="stylesheet" href="../styles/custom.css"/>
<h1><b>Profilo personale</b></h1>
<div id="profilo1" >
    <div class="row">
         <div class="col-xs-12">

            <div class="page-header">
                <img id="img-profilo" ng-src="{{dati.user.img_url}}" alt="immagine del profilo"  ng-if="dati.user.img_url.includes('https://firebasestorage.googleapis.com')">
                <img src="../images/user.png" id="userIcon" alt="immagine del profilo" ng-if="!dati.user.img_url.includes('https://firebasestorage.googleapis.com')" >

            <h1>{{dati.user.name}} <br>{{dati.user.surname}} <br> {{dati.user.email}} </h1>
            </div>
        <div class="clear"></div>
            <div id="profile-bar">
        <a href="#!changeImg" id="changeImg">Cambia immagine</a>

        <a href="#!editProfile" ><i class="glyphicon glyphicon-pencil" id="edit"> Modifica Profilo</i></a>
                <div class="clear"></div>
                <br>
                <br>
            </div>
                <a href="#!pregaView" class="prega-tutor"><img class="prega-tutor" src="../images/iconapregablu.png" id="prega"> Prega</a>
                <a href="#!tutor" class="prega-tutor"><img class="prega-tutor" src="../images/iconatutorblu.png" id="tutor"> Tutor</a>

       <!-- <a href="#" ng-click="logout()" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-off"></i> Disconnetti</a> -->

        </div>
    </div>

</div>


<div id="profilo2" class="container">
    <h1><strong>Forum Recenti</strong></h1>
   <li class="media" ng-repeat="forum in dati.forum">
                <a href="#!/singleForum/{{forum.id}}">
                    <div  class="forumHome">
                        <h4 class="media-heading"><strong>{{forum.titolo}}</strong></h4>
                        <p>{{forum.argomento}}</p>
                    </div>
                </a>
    </li>
    <h1><strong>Tutti gli eventi in programma:</strong></h1>
    <li class="media" ng-repeat="evento in dati.eventiDaMostrare">
        <a href="#!/details/{{evento.id}}">
            <div  class="forumHome">
                <h4 class="media-heading"><strong>{{evento.title}} {{evento.start}}</strong></h4>
                <p>{{evento.descrizione}}</p>
            </div>
        </a>
    </li>


</div>

