

<div class="menu" id="menu">
    <a class="closeButton" ng-click="close()"><i class="glyphicon glyphicon-remove-circle w3-large"></i></a>
    <ul >
        <li> <a href="#!/userProfile"><i class="glyphicon glyphicon-user w3-large"> Profilo Personale </i> </a></li>
        <li> <a href="#!/prega"><i class="glyphicon glyphicon-user w3-large">Prega</i> </a></li>
        <li> <a href="#!/calendar"> <i class="glyphicon glyphicon-calendar w3-large">Calendario/<br>Eventi/<br>Forum </i> </a></li>
        <li> <a href="#!/chat"> <i class="glyphicon glyphicon-comment w3-large">Chat </i> </a></li>
        <li> <a href="#!/tutor"> <i class="glyphicon glyphicon-user w3-large"> Tutor</i> </a></li>
    </ul>
</div>

<div id="ContainerHome">
 <!--
    <div class="menu" id="menu">
         <div class="closeButton"><a class="icon-close"></a></div>
        <ul >
            <li> <a href="#"> Profilo Personale <i ng-click="showPersonalProfile()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
            <li> <a href="#"> Prega <i ng-click="showPrega()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
            <li> <a href="#"> Calendario/Eventi/Forum <i ng-click="showCalendar()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
            <li> <a href="#"> Chat <i ng-click="showChat()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
            <li> <a href="#"> Tutor <i ng-click="showTutor()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
        </ul>
    </div>
-->
<div class="w3-container" id="contenitoreFrase">
    <p id="fraseDelGiorno"></p>
</div>

    <div class="w3-container" id="eventi" >

    </div>

<div class="w3-container" id="bodyHome" >

</div>


</div>

