
<!--<link rel="stylesheet" href="../styles1/custom1.css"/>-->

<div id="ContainerHome">


 <!--
    <div class="menu" id="menu">
         <div class="closeButton"><a class="icon-close"></a></div>
        <ul >
            <li> <a href="#"> Profilo Personale <i ng-click="showPersonalProfile()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
            <li> <a href="#"> Prega <i ng-click="showPrega()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
            <li> <a href="#"> Calendario/Eventi/Forum <i ng-click="showCalendar()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
            <li> <a href="#"> Chat <i ng-click="showChat()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
            <li> <a href="#"> Tutor <i ng-click="showTutor()" class="glyphicon glyphicon-user w3-large"></i> </a></li>
        </ul>
    </div>
-->

<div class="w3-container" id="contenitoreFrase">
    <p id="fraseDelGiorno"></p>
</div>

    <div class="w3-container" id="eventi" >
        <ul class="media-list" id="elencoEventi">
    <li class="media" ng-repeat="evento in dati.eventiDaMostrare">
        <a href="#!/details/{{evento.id}}">
            <div  class="eventiHome">
                <h4 class="media-heading"><strong>{{evento.title}}</strong></h4>
                <p>{{evento.Giorno}} - {{evento.Mese}}</p>
            </div>
        </a>
    </li>
</ul>
</div>
    <br>
        <button id="condividi"> <a href="#!/addPost"> Condividi</a></button>
    <br>
<div class="w3-container" id="bodyHome" >
    <li class="media" ng-repeat="post in dati.posts">
        <a href="#!/singlePost/{{post.id}}">
            <div  class="postHome">
                <h4 class="media-heading"><strong>{{post.info.name}} {{post.info.surname}} </strong></h4>
                <p>{{post.contenuto}} </p>
                <!--
                <img class="media-object" ng-src="../{{post.img_url}}" alt="{{post.img_alt}}" ng-if="!(post.img_url.includes('https://firebasestorage.googleapis.com')) && post.img_url!=''">
                -->
                <p ng-if="!(post.img_url.includes('https://firebasestorage.googleapis.com')) && post.img_url!=''"></p>
                <img class="media-object" ng-src="{{post.img_url}}" alt="{{post.img_alt}}" ng-if="post.img_url.includes('https://firebasestorage.googleapis.com')">
                <p ng-if="post.img_url == ''"></p>
                <!--<span><button class="mi piace">Mi Piace</button><button class="commenta">Commenta</button></span>-->
            </div>
        </a>
    </li>
<!--
    <li class="media" ng-repeat="forum in dati.forum">
        <a href="#!/singleForum/:{{forum.Id}}">
            <div  class="postHome">
                <h4 class="media-heading"><strong>{{forum.titolo}}</strong></h4>
                <p>{{forum.argomento}}</p>
            </div>
        </a>
    </li>
-->
</div>


</div>

