<div id="otherProfile">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <img class="media-object" ng-src="{{dati.recipient.img_url}}" alt="immagine del profilo"  ng-if="dati.recipient.img_url.includes('https://firebasestorage.googleapis.com')">
                <img src="../images/user.png" id="userIcon" alt="immagine del profilo" ng-if="!dati.recipient.img_url.includes('https://firebasestorage.googleapis.com')" >

                <h1>{{dati.recipient.name}} {{dati.recipient.surname}}  {{dati.recipient.email}}</h1>
            </div>

        </div>
    </div>

    <div id="buttonOtherProfile">
        <div>
            <button id="becameFriends" ng-if= "dati.notYetFriends" ng-click="CreateFriendship()"  type="submit" class="btn btn-primary"  style="float: right;">Aggiungi agli amici</button>
            <button ng-if="dati.yetFriends " ng-click="removeFriendship(dati.Friend)" type="submit" class="btn btn-info" style="float: right;">Elimina dagli amici</button>
        </div>
        <div>
            <button id="becameTutor" ng-if= "dati.notYetTutor" ng-click="becameTutor()"  type="submit" class="btn btn-primary"  style="float: right;">Chiedi di diventare tutor</button>
            <button ng-if="dati.yetTutor " ng-click="removeTutor(dati.Tutor)" type="submit" class="btn btn-info" style="float: right;">Non essere più tutor</button>
        </div>
        <div>
            <button id="becameTutored" ng-if= "dati.notYetTutored" ng-click="becameTutored()"  type="submit" class="btn btn-primary"  style="float: right;">Chiedi di essere seguito</button>
            <button ng-if="dati.yetTutored " ng-click="removeTutor(dati.Tutoreded)" type="submit" class="btn btn-info" style="float: right;">Non essere più seguito</button>
        </div>

    </div>


</div>


<div id="otherProfileInfo">
    <h4>Post</h4>
    <div id="postOtherProfile" ng-repeat="post in postDaMostrare"  >
        <a href="#!/singlePost/{{post.id}}">
            <div>
                {{post.contenuto}}
                <p ng-if="!(post.img_url.includes('https://firebasestorage.googleapis.com')) && post.img_url!=''"></p>
                <img class="media-object" ng-src="{{post.img_url}}" alt="{{post.img_alt}}" ng-if="post.img_url.includes('https://firebasestorage.googleapis.com')">
                <p ng-if="post.img_url == ''"></p>
            </div>
        </a>
        <br>

    </div>
</div>
