<div id="geoIcon">

    <h1><b>Trova Buddisti</b></h1>
    <h4 style="font-weight:bold"></h4>

</div>


<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" class="google-maps">

    <ng-map  center="{{pos.lat}}, {{pos.lng}}" zoom="12">

        <span ng-repeat="pos in dati.vm.positions">
            <info-window  id="{{pos.id}}"  position="{{pos.lat}},{{pos.lng}}">

                        <p><b><a href="#!/OtherUser/{{pos.id}}">{{pos.name}} {{pos.surname}} </a> </b></p>

            </info-window>
        </span>

        <span ng-repeat="posB in dati.vm.posBudd">
            <info-window  id="{{posB.id}}"  position="{{posB.lat}},{{posB.lng}}">

                        <p><b><a href="#!/OtherUser/{{posB.id}}">{{posB.name}} {{posB.surname}} </a> </b></p>

            </info-window>
        </span>

        <span ng-repeat="posT in dati.vm.posTutor">
            <info-window  id="{{posT.id}}"  position="{{posT.lat}},{{posT.lng}}">

                        <p><b><a href="#!/OtherUser/{{posT.id}}">{{posT.name}} {{posT.surname}} </a> </b></p>

            </info-window>
        </span>

        <marker position="{{pos.lat}},{{pos.lng}}" title="Tu sei qui" >
            <custom-marker position="{{pos.lat}},{{pos.lng}}">
                <a  href="#!/userProfile">Tu sei qui!</a>
            </custom-marker>
        </marker>

        <marker ng-if="showAll==true"  ng-repeat="pos in dati.vm.positions" id='{{pos.id}}'  position="{{pos.lat}},{{pos.lng}}" title="Nome: {{pos.name}},   Cognome: {{pos.surname}}"
                on-click="map.showInfoWindow(event, '{{pos.id}}')"
                icon="{
               url:'../images/puntinaanuovobudda.png',
               scaledSize:[50,50]}" > <!--ng-click="dati.vm.showDetail(pos)"-->
       </marker>

        <marker ng-if="showBudd==true"  ng-repeat="posB in dati.vm.posBudd"    position="{{posB.lat}},{{posB.lng}}" title="Nome:  {{posB.name}},   Cognome: {{posB.surname}}"
                on-click="map.showInfoWindow(event, '{{posB.id}}')"
                icon="{
               url:'../images/puntinaanuovobudda.png',
               scaledSize:[50,50] }">
        </marker>

        <marker ng-if="showTutor==true" ng-repeat="posT in dati.vm.posTutor"   position="{{posT.lat}},{{posT.lng}}" title="Nome:  {{posT.name}},   Cognome: {{posT.surname}}"
                on-click="map.showInfoWindow(event, '{{posT.id}}')"
                icon="{
               url:'../images/puntinaanuovobudda.png',
               scaledSize:[50,50]  }">
        </marker>

    </ng-map>

    <h5> <b>Opzioni di ricerca:</b></h5>

<div class="bottoniopzione">
        <button  ng-click="tutti()" id="buddaetutor">Buddisti e Tutor</button>
        <button  ng-click="buddisti()" id="solobudda">Solo Buddisti</button>
        <button  ng-click="solotutor()" id="solotutor">Solo Tutor</button>
</div> 

</div>



