<div id="geoIcon">

    <h1><b>Trova Buddisti</b></h1>
    <h4 style="font-weight:bold"></h4>

</div>


<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" class="google-maps">

    <ng-map map-type-id="ROADMAP"  center="{{pos.lat}}, {{pos.lng}}" zoom="12">

        <marker position="{{pos.lat}},{{pos.lng}}" title="Tu sei qui" >
            <custom-marker id="foo0" position="{{pos.lat}},{{pos.lng}}">
                <a  href="#!/userProfile">Tu sei qui!</a>
            </custom-marker>
        </marker>

        <marker ng-if="showAll==true"  ng-repeat="pos in dati.vm.positions" id='{{pos.info.$id}}'  position="{{pos.lat}},{{pos.lng}}" title="Nome: {{pos.info.name}},   Cognome: {{pos.info.surname}},  {{pos.info.type}}"
                icon="{
               url:'../images/buddino.png',
               scaledSize:[40,40]
      }">
            <!--
            <custom-marker id="foo" position="{{pos.lat}},{{pos.lng}}" ng-click="closeCustomMarker()">
                  <div class="foo">
                      <a  ng-if="pos.info.$id===dati.userId"   href="#!/userProfile" >{{pos.info.name}} {{pos.info.surname}}</a>
                      <a  ng-if="pos.info.$id!=dati.userId"    href="#!/OtherUser/{{pos.info.$id}}">{{pos.info.name}} {{pos.info.surname}}</a>
                      <img width="64" height="64" ng-src="{{pos.info.img_url}}" alt="immagine del profilo"  ng-if="pos.info.img_url.includes('https://firebasestorage.googleapis.com')">
                      {{pos.info.type}}
                  </div>
              </custom-marker>
        -->
        </marker>
        <!--<info-window id="foo-iw">
            <div ng-non-bindable="">
                Nome: {{geoViewCtrl.pos.info.name}}<br/>
                Cognome: {{geoViewCtrl.pos.info.surname}}<br/>
                <a href="#!OtherUser/{{}}">Vedi profilo</a>
            </div>
        </info-window>
-->
        <marker ng-if="showBudd==true"  ng-repeat="pos in dati.vm.posBudd"    position="{{pos.lat}},{{pos.lng}}" title="Nome:  {{pos.info.name}},   Cognome: {{pos.info.surname}},  {{pos.info.type}}"
                icon="{
               url:'../images/buddino.png',
               scaledSize:[40,40]
      }">
          <!--
            <custom-marker id="foo1" position="{{pos.lat}},{{pos.lng}}" ng-click="closeCustomMarker()">
                <div class="foo">
                    <a  ng-if="pos.info.$id===dati.userId"   href="#!/userProfile" >{{pos.info.name}} {{pos.info.surname}}</a>
                    <a  ng-if="pos.info.$id!=dati.userId"    href="#!/OtherUser/{{pos.info.$id}}"> {{pos.info.name}} {{pos.info.surname}}</a>
                    <img width="64" height="64" ng-src="{{pos.info.img_url}}" alt="immagine del profilo"  ng-if="pos.info.img_url.includes('https://firebasestorage.googleapis.com')">
                    {{pos.info.type}}
                </div>
            </custom-marker>
            -->
        </marker>

        <marker ng-if="showTutor==true" ng-repeat="pos in dati.vm.posTutor"   position="{{pos.lat}},{{pos.lng}}" title="Nome:  {{pos.info.name}},   Cognome: {{pos.info.surname}},  {{pos.info.type}}"
                icon="{
               url:'../images/buddino.png',
               scaledSize:[40,40]
      }">
           <!-- <custom-marker id="foo2" position="{{pos.lat}},{{pos.lng}}" ng-click="closeCustomMarker()">
                <div class="foo">
                    <a  ng-if="pos.info.$id===dati.userId"   href="#!/userProfile" > {{pos.info.name}} {{pos.info.surname}}</a>
                    <a  ng-if="pos.info.$id!=dati.userId"    href="#!/OtherUser/{{pos.info.$id}}"> {{pos.info.name}} {{pos.info.surname}}</a>
                    <img width="64" height="64" ng-src="{{pos.info.img_url}}" alt="immagine del profilo"  ng-if="pos.info.img_url.includes('https://firebasestorage.googleapis.com')">
                    {{pos.info.type}}
                </div>
            </custom-marker>
            -->
        </marker>

    </ng-map>

    <h5> <b>Opzioni di ricerca:</b></h5>

<div class="bottoniopzione">
        <button  ng-click="tutti()" id="buddaetutor">Buddisti e Tutor</button>
        <button  ng-click="buddisti()" id="solobudda">Solo Buddisti</button>
        <button  ng-click="solotutor()" id="solotutor">Solo Tutor</button>
</div>

</div>



