<!--
    <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" class="col-md-8">
    <ng-map center="45.071087, 7.686567" zoom="12">
        <marker ng-repeat="pos in dati.vm.positions" position="{{pos.lat}},{{pos.lng}}"></marker>
    </ng-map>
</div>
-->
<div id="geoIcon">

    <h1><b>Trova gli altri Buddisti vicino a te!</b></h1>
    <h4 style="font-weight:bold"></h4>

</div>


<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" class="google-maps">


    <ng-map center="{{pos.lat}}, {{pos.lng}}" zoom="12">

        <marker position="{{pos.lat}},{{pos.lng}}"></marker>
        <marker position="{{lat}},{{lng}}" ></marker>

        <!-- <div ng-repeat="user in Value=(dati.listaUtenti | filter:{logged:true} | filter:{$id: '!' + dati.userId})"
              ng-options="user.address for (user.$id , user.address) in Value" >
          <marker position="{{user.address.lat}},{{user.address.lng}}">></marker>
         </div>-->
      </ng-map>




  </div>


  <!--<div id="profilo2">
      <div class="row">
          <div class="col-xs-12">

          </div>
      </div>

  </div>-->


