<div class="alert alert-danger alert-dismissible" role="alert" ng-if="error">Login failed! {{ error.message }}</div>

<form id="frmRegister" role="form" ng-submit="signUp()">
    <h2>Register</h2>

    <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" class="form-control" id="txtName" placeholder="Enter name" name="name" ng-model="user.name" />
    </div>
    <div class="form-group">
        <label for="txtSurname">Surname</label>
        <input type="text" class="form-control" id="txtSurname" placeholder="Enter surname" name="surname" ng-model="user.surname" />
    </div>
    <div class="form-group">
        <label for="txtEmail">Email address</label>
        <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" ng-model="user.email" />
    </div>
    <div class="form-group">
        <label for="txtEmail">Data di Nascita</label>
        <input type="date" class="form-control" id="txtDatadiNascita" placeholder="Enter Data di Nascita" name="DatadiNascita" ng-model="user.DatadiNascita" />
    </div>
    <div class="form-group">
        <label for="txtEmail">Sesso</label>
        <input type="" class="form-control" id="txtSesso" placeholder="Sesso" name="sesso" ng-model="user.sesso" />
    </div>
    <div class="form-group">
        <label for="txtEmail">Sei già buddista?</label>
        <input type="" class="form-control" id="txtBuddista" placeholder="Enter Buddista" name="Buddista" ng-model="user.Buddista" />
    </div>
    <div class="form-group">
        <label for="txtPass">Password</label>
        <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" ng-model="user.password" />
    </div>
    <div class="form-group">
        <label for="txtPass2">Confirm Password</label>
        <input type="password" class="form-control" id="txtPass2" placeholder="Confirm password" name="password2" ng-model="user.password2" />
    </div>
    <button type="submit" class="btn btn-success center-block">Register</button>
</form>
<a href="www.facebook.it">Registrati tramite Facebook</a>
<a href="www.twitter.it">Registrati tramite Twitter</a>