<div id="searchIcon">

    <h1><b>Ecco una lista di quello che hai cercato</b></h1>
    <h4 style="font-weight:bold"></h4>

    
</div>

    <input type="text" name="ricerca" ng-model="dati.ricerca"  />

<button type="submit" ng-click="input()" class="btn btn-success center-block">Cerca</button>
<a  ng-if="dati.userpost===myID"   href="#!/userProfile" >{{risultato}}</a>
<a  ng-if="dati.userpost!=myID"   href="#!/OtherUser/{{dati.userpost}}" > {{risultato}}</h1></a>




<div id="contenitoreRisultati">
    <p id="contenitore"></p>
</div>



<!-- <div ng-repeat="ricerca in dati | Filter: search"><em>{{ricerca.dati}}</em></div>
<ul ng-repeat="(key, value) in dati | orderByPriority | filter:search">
        <li><a href="{{ key }}">{{ value}}</a></li>
    </ul>-->