<div  ng-controller="addForumViewCtrl as $ctrl">


    <form class="frmModifiche" role="form" ng-submit="addForum()">
        <h2>Crea un nuovo forum</h2>
        <div class="alert alert-success alert-dismissible" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="dati.error">{{ dati.error }}</div>
        <div class="form-group">
            <label for="txtTitolo">Titolo</label>
            <input type="text" class="form-control" id="txtTitolo" placeholder="Inserisci un titolo" name="titolo" ng-model="dati.titolo" />
        </div>
        <div class="form-group">
            <label for="txtDescrizione">Argomento</label>
            <input type="text" class="form-control" id="txtDescrizione" placeholder="Inserisci l'argomento" name="argomento" ng-model="dati.argomento" />
        </div>

        <button type="submit" class="btn btn-success center-block">Crea</button>
        <button type="reset" class="btn center-block"><a href="#!calendar"> Annulla</a></button>
    </form>
</div>