<div id="detailForum">
<h1>{{dati.forum.titolo}}</h1>

<p>{{dati.forum.argomento}}</p>

    <ul class="media-list" id="elencoCommenti">
        <li class="media" ng-repeat="commento in commentiDaMostrare">
            <p>{{commento.info.name}} {{commento.info.surname}}: {{commento.commento}}</p>

        </li>
    </ul>
    <button class="commenta" ng-click="commenta()">Commenta</button>

    <div id="commento"  ><input type="text" class="textComment" id="textComment" placeholder="Scrivi cosa pensi" ng-model="forum.newComment" />
        <button ng-click="salvaCommento();closeCommento(); ">Salva Commento</button>
    </div>

</div>