<div  ng-controller="addPostViewCtrl as $ctrl">
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="dati.error">{{ dati.error }}</div>

    <form class="frmModifiche" role="form" ng-submit="addPost()">
        <h2>Crea un nuovo post</h2>

        <div class="form-group">
            <label for="txtTitolo">Titolo</label>
            <input type="text" class="form-control" id="txtTitolo" placeholder="Inserisci un titolo" name="titolo" ng-model="dati.titolo" />
        </div>

        <button type="submit" class="btn btn-success center-block">Condividi</button>
        <button type="reset" class="btn center-block"><a href="!#homeView"> Annulla</a></button>
    </form>
</div>