<link rel="stylesheet" href="../styles/custom.css"/>
<h3><b>Calendario</b></h3>
<div class="nuovoevento-forum">
       <div> <a href="#!/addEvento" ><img src="../images/iconacalendarioaggiungi.png"><button id="newEvent" align="left">Crea Evento</button></a></div>
       <div>   <a href="#!/addForumView" ><img src="../images/iconanuovoforum.png"><button id="newForum" align="left">Crea Forum</button></a></div>
</div>
<div class="calendario"> <!-- <daypilot-calendar id="dp"  daypilot-config="config" events="events"  ></daypilot-calendar>-->
    <div id="dp"></div>
    <div class="calendar_default_main"></div>

</div>
<div style="clear:both;"></div>
<div class="calendar_default_cornerright_inner"></div>
<div class="calendar_default_cornerright"></div>


<h1 id="calendarForum">Forum Recenti</h1>
<div id="forumCalendar" class="container">

    <span class="media" ng-repeat="forum in dati.forum">

            <div >
                <profmic class="media-heading"><strong>{{forum.titolo}}:</strong></profmic>
                <p><a href="#!/singleForum/{{forum.id}}">{{forum.argomento}}...</a></p>
                <!--<span><button class="mi piace">Mi Piace</button><button class="commenta">Commenta</button></span>-->
            </div>

    </span>
</div>

<h1 id="calendarInviti">Eventi in programma</h1>
<div id="calendarioInviti" class="container">
    <span class="media" ng-repeat="evento in dati.eventiDaMostrare">

            <div  class="forumHome">
                <profmic class="media-heading"><strong><a href="#!/details/{{evento.id}}">{{evento.title}} {{evento.start}}</a></strong></profmic>
                <p>{{evento.descrizione}}</p>
            </div>

    </span>
    <p ng-if="dati.eventiDaMostrare.length<=0">Non ci sono eventi in programma"</p>

</div>