body{
    background-image: url("../images/imgSfondo.png");
    background-size: cover;
    background-attachment: scroll;

}
#log {
      padding-top: 0px;
      background-attachment:scroll;
      background-repeat: no-repeat;
      background-position: 0 0;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      display:flex;
      justify-content:center;
      align-items:center;
  }
#registrazione {
    padding-top: 0px;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: 0 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
}
/* box registrazione*/
#box{
    padding-top: 15px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 900px;
    padding-bottom: 60%;
}

.navbar{
    border-bottom-width: 0px;
    background: rgba(154, 202, 229, 0.52);


}
.navbar-brand{
    content:url("../images/logonaisho.png");
    width: 125px;
    height: 75px;
}
.navbar-user{
    content: url("../images/user.png");
    height: 75px;
    width: 150px;
    float: right;
}
.usrp{
    float: right;
}

.form-control{
    color: rgba(0, 0, 0, 0.4);
    width: 350px;
    background: #3903ff;
    background: rgba(57, 3, 255, 0.6);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
label{
    text-align: left;
}

.LinkList{
    float: right;
    padding-right: 10px;
}
img.media-object{
    width: 80px;
    height: 80px;
}



#addFriend{
    content:url("../images/Add.gif ");
}

/*#modificaProfilo{
    color:white;
    background-color:#3903ff ;
}
*/
#boxdati{
    margin-left: 10px;
    left: 0px;
    float: left;
    padding-top: 15px;
    opacity: .80;
    position: absolute;
    top: -25px;
    left: 0%;
    width: 100%;
    height: 75%;
    background-color:#FFF;
    z-index:+300;
    padding-bottom: 60%;
}
#contenitoreFrase {
    opacity: .80;
    position: fixed;
    top: 75px;
    left: 0px;
    width: 100%;
    height: 100px;  /*  NON RIESCO A METTERE UN DIV CON ALTEZZA MASSIMA 100 PX*/
    background-color: #FFF;
    z-index: +300;
    padding-bottom: 60%;
}
/*#boxev2{

    padding-top: 15px;
    opacity: .80;
    position: absolute;
    top: -25px;
    left: 35%;
    width: 62.5%;
    height: 900px;
    background-color:#FFF;
    z-index:+300;
    padding-bottom: 60%;
}
*/

/*Login view

#box2{
    top: 300px;
    opacity: .80;
    position: absolute;
    left: 50%;
    margin-top: -225px;
    margin-left: -250px;
    width: 500px;
    height: 450px;
    background-color: transparent;
    background-color:#FFF;
    z-index:+300;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
*/



form.frmLogin {
    margin-right: 20%;
    margin-left: 20%;
}

.logoNaisho{
    content:url("../images/logonaisho2.png");
    height: 120px;
    width: 250px;
    margin-left: 27%;
}

#titolo{
    font-family: Andalus;
    text-align: center;
    font-size: 40px;
    color : #ffffff;

}
.form-group {
    margin-top: 15px;
    margin-left: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    color:#FFFFFF;
}

.login{
    text-align: center;
    margin-top: 15px;
    background: #3903ff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
input.form-control {
    width: 300px;
    height: 46px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}
.input-group{
    width: 600px;
    height: 46px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 20%;
    margin-left: 50%;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

#btlog {
    width: auto;
    height: 46px;
    padding:0px;
    border:0px;
    background: #3903ff;
    color: #FFFFFF;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

.link {
    text-align: center;
    padding-top: 38.5px;
    color:white;
}
.link2 {
    text-align: center;
    padding-top: 0px;
    color:white;
}


.link a:link{
    color: #ffffff;
    }

.link2 a:link{
    color: #ffffff;
    text-decoration: underline;


  }
.loghi {
    height: 30px;
    width: 30px;
}

h2{
    color: #FFFFFF;
    }


.navbar-center {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
    width: 100%;
}
.navbar-center > li {
    display: table-cell;
    float: none;
    text-align: center;
}

.navbar-default .navbar-center > .active > a,
.navbar-default .navbar-center > .active > a:hover {
    color: #428bca;
    background-color: transparent;
}

.navbar-default .navbar-center > li > a:hover {
    color: #777;
}

.navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 20px;
}


